<p>
  ボタンが・・
</p>
<input type="button" value="ボタン">

<!--ここから上がjavascript前半。下がjquery-->

<div class="tab-menu">
  <ul>
    <li id="left" class="selected">左タブ</li>
    <li id="right">右タブ</li>
  </ul>

  <div class="contents">
    <div class="left">
      <p>お花コンテンツ</p>
      <p>　　ののはな</p>
      <p>　　さくら</p>
    </div>
    
    <div class="right">
      <p>お魚コンテンツ</p>
      <p>金魚</p>
      <p>ぶり</p>
    </div>
  </div>
</div>